apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-api
  template:
    metadata:
      labels:
        app: student-api
    spec:
      containers:
      - name: student-api
        image: student-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_URL
          valueFrom:
            secretKeyRef:
              name: student-api-secret
              key: MONGO_URL
---
apiVersion: v1
kind: Service
metadata:
  name: student-api-service
spec:
  selector:
    app: student-api
  ports:
  - port: 80
    targetPort: 8000
  type: NodePort